$color-grey: #edecec;
$color-primary: #197742;

html {
  box-sizing: border-box;
  font-size: 62.5%; /* 10px = 1rem */
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
  background-color: $color-grey;
  font-family: 'Open Sans', sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

@mixin resetMargins() {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p,
hr {
  @include resetMargins();
}

h1 {
  font-size: 4.2rem;
}

h2 {
  font-size: 1.8rem;
}

button {
  width: 25%;
  height: 3rem;
  color: white;
  background-color: $color-primary;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: ease opacity 200ms;
}

button:hover {
  opacity: 0.75;
}

button:active {
  opacity: 0.5;
}

.todoContainer {
  width: 65rem;
  margin: 0 auto;

  hr {
    background-color: lightgrey;
    border: 0.5px solid lightgrey;
    margin-bottom: 1rem;
  }

  .todoContainer__inputButton {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;

    input {
      width: 70%;
      height: 3rem;
    }
  }

  .todoContainer__todoList {
    display: grid;
    gap: 1rem;
    grid-template-areas:
      'title title title'
      'content content content';

    .todoContainer__todoList--counters {
      span {
        font-weight: 700;
      }
    }

    .todoContainer__todoList--tasks {
      display: flex;
      justify-content: space-between;

      ul {
        li {
          svg {
            cursor: pointer;
            transition: ease opacity 200ms;
          }

          svg:hover {
            opacity: 0.75;
          }

          svg:active {
            opacity: 0.5;
          }
        }
      }

      .todoContainer__todoList--tasks-doneDelete {
        input {
          margin-right: 1rem;
        }

        img {
          height: 1.5rem;
          margin-bottom: 0.5rem;
          cursor: pointer;
          transition: ease opacity 200ms;
        }

        img:hover {
          opacity: 0.75;
        }

        img:active {
          opacity: 0.5;
        }
      }
    }
  }
}
